.header{
    &__top{
        @extend %basePos;
        padding: 20px 75px 16px;
        text-align: center;
    }
    &__title{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 48px;
        font-weight: 700;
    }
}
.nav-wrap{
    min-height: 56px;
}
.nav{
    @extend %basePos;
    padding: 15px 110px;
    margin: 0 75px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    text-transform: capitalize;
    &.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 998;
        margin: 0;
        padding: 15px 140px;
        opacity: 1 !important;
        .nav__buttons_left{
            left: 40px;
        }
        .nav__buttons_right{
            right: 40px;
        }
    }
    &::after,
    &::before{
        content: '';
        @extend %absolutePos;
        top: 0;
        display: block;
        width: 30px;
        height: 100%;
        z-index: 10;
    }
    &::after{
        right: 110px;
        background: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,0));
    }
    &::before{
        left: 110px;
        background: linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,0));
    }

    &__buttons{
        @extend %absolutePos;
        top: 50%;
        transform: translateY(-50%);
        z-index: 15;
        &_left{
            left: 0;
        }
        &_right{
            right: 0;
        }
    }
    
    &__list{
        @extend %basePos;
        @extend %horizontalScroll;
        text-align: center;
        display: flex;
    }
    &__item{
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: .8px;
        padding: 0 16px;
    }
    &__link{
        text-decoration: none;
        color: rgb(0,0,0);
        transition: .4s;
        font-size: 14px;
        line-height: 24px;
        white-space: nowrap;
        &:hover{
            color: rgba(26, 26, 26, 0.7);
            text-decoration: line-through;
        }
        &_home{
            color: rgba(26, 26, 26, 0.5);
        }
    }
    
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 998;
    transform: translateX(calc(-100% + 10px));
    transition: .6s;
    &.active{
        transform: translateX(0);
        background: rgb(26,26,26);
        border-color: rgb(26,26,26);
        .menu__icon{
            opacity: 0;
        }
    }
    // &:hover{
    //     transform: translateX(0);
    //     background: rgb(26,26,26);
    //     border-color: rgb(26,26,26);
    // }
    // &:hover .menu__icon{
    //     opacity: 0;
    // }
    &__wrap{
        @extend %noneScrollBar;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 30px 100px 30px 50px;
        background: rgb(26,26,26);
        border-right: 10px solid #007cff;
    }
    &__icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right:-50px;
        transform: rotate(-90deg);
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color:rgb(26,26,26);
        transition: .6s;
        background: transparent;
    }
    &__item{
        margin-bottom: 15px;
    }
    &__list{
        list-style-type: none;
        font-size: 24px;
        text-transform: capitalize;
    }   
    &__link{
        color: #ffffff;
        text-transform: capitalize;
        &:hover{
            color: rgba(255,255,255,.75);
            text-decoration: line-through;
        }
        &_home{
            color: rgba(255,255,255,.6);
        }
    }
}