@media only screen and (max-width: 1440px) {
    .base-post{
        &__caption{
            font-size: (18rem / 16);
        }
        &__img-wrap{
            height: 180px;
        }
        &__link{
            margin-bottom: 10px;
        }
    }
    .main-post{
        &__caption{
            font-size: (24rem / 16);
        }
        &__text{
            font-size: (12rem / 16);
        }
    }
   
}
@media only screen and (max-width: 1240px) {
    .header{
        &__title{
            font-size: (36rem / 16);
        }
    }
    .caption{
        font-size: (24rem / 16);
    }
    .main-post{
        &__text{
            font-size: (10rem / 16);
        }
    }
    .base-post{
        &__caption{
            font-size: (14rem / 16);
        }
        &__img-wrap{
            height: 150px;
        }
        &__link{
            margin-bottom: 0px;
        }
    }
    .recomend-post{
        &__link{
            display: block;
            margin-top: 60px;
        }
        &__caption{
            font-size: (28rem / 16);
        }
    }
    .nav{
        padding: 10px 15px;
        &__link{
            font-size: (12rem / 16);
        }
    }
}
@media only screen and (max-width: 1440px) {
    .recomend-post{
        &__panel{
            padding: 30px;
        }
        &__caption{
            font-size: (18rem / 16);
            margin-bottom: 6px;
        }
        &__title{
            font-size: (20rem / 16);
            padding: 0 0 6px;
        }
    }
    .top-posts{
        .base-post__img-wrap{
            height: 116px;
        }
    }
    .novelty{
        &::after{
            height: 45%;
        }
        &__posts{
            padding: 0px 0 30px;
        }
    }
    .caption{
        padding: 0 0 6px;
        font-size: (20rem / 16);
    }
    .base-post{
        &__caption{
            font-size: (12rem / 16);
        }
    }
    .main-post{
        &__caption{
            font-size: (20rem / 16);
        }
    }
    .category-list__link,
    .main-post__external{
        font-size: (10rem / 16);
    }
}