@media only screen and (max-width: 1500px) {
    .base-post{
        &__caption{
            font-size: (19rem / 16);
        }
    }
    .main-post{
        &__caption{
            font-size: (28rem / 16);
        }
    }
}
@media only screen and (max-width: 1440px) {
    .base-post{
        &__caption{
            font-size: (18rem / 16);
        }
        &__link{
            margin-bottom: 10px;
        }
        &__info{
            font-size: (10rem / 16);
        }
    }
    .single{
        &__title{
            font-size: (24rem / 16);
        }
        &__description{
            font-size: (12rem / 16);
            margin-bottom: 10px;
        }
    }
    .single__content-text{
        h2{
            font-size: (22rem / 16);
            margin: 10px 0 15px;
        }
        h3{
            font-size: (20rem / 16);
            margin: 10px 0 15px;
        }
        h4{
            font-size: (18rem / 16);
            margin: 20px 0 20px;
        }
        
        p{
            font-size: (16rem / 16);
        }
    }
    .main-post{
        &__caption{
            font-size: (24rem / 16);
        }
        &__text{
            font-size: (12rem / 16);
        }
    }
    .footer{
        &__text{
            font-size: (12rem / 16);
        }
    }
}
@media only screen and (max-width: 1240px) {
    .header{
        &__title{
            font-size: (36rem / 16);
        }
    }
    .caption{
        font-size: (24rem / 16);
    }
    .main-post{
        &__text{
            font-size: (10rem / 16);
        }
    }
    .base-post{
        &__caption{
            font-size: (16rem / 16);
        }
        &__link{
            margin-bottom: 0px;
        }
        &__description{
            font-size: (12rem / 16);
        }
    }
    .recomend-post{
        &__link{
            display: block;
            margin-top: 60px;
        }
        &__caption{
            font-size: (28rem / 16);
        }
    }
    .nav{
        padding: 10px 110px;
        &__link{
            font-size: (12rem / 16);
        }
    }
    .menu{
        &__item{
            margin-bottom: 0px;
        }
        &__link{
            font-size: (16rem / 16);
        }
        &__icon{
            right: -30px;
        }
        &__icon_arrow{
            font-size: (12rem / 16);
        }
    }
}
@media only screen and (max-width: 1140px) {
    .recomend-post{
        &__panel{
            padding: 30px;
        }
        &__caption{
            font-size: (18rem / 16);
            margin-bottom: 6px;
        }
        &__title{
            font-size: (20rem / 16);
            padding: 0 0 6px;
        }
        &__date{
            font-size: (10rem / 16);
        }
    }
    .single{
        &__panel{
            padding: 30px;
        }
        &__title{
            font-size: (20rem / 16);
            margin-bottom: 7px;
        }
        &__description{
            font-size: (10rem / 16);
            margin-bottom: 7px;
        }
    }
    .single__content-text{
        h2{
            font-size: (18rem / 16);
            margin: 10px 0 15px;
        }
        h3{
            font-size: (16rem / 16);
            margin: 10px 0 15px;
        }
        h4{
            font-size: (16rem / 16);
            margin: 20px 0 20px;
        }
        
        p{
            font-size: (14rem / 16);
        }
    }
    .novelty{
        &::after{
            height: 45%;
        }
        &__posts{
            padding: 0px 0 30px;
        }
    }
    .caption{
        padding: 0 0 6px;
        font-size: (20rem / 16);
    }
    .base-post{
        &__caption{
            font-size: (16rem / 16);
        }
    }
    .main-post{
        &__caption{
            font-size: (20rem / 16);
        }
    }
    .category-list__link,
    .main-post__external,
    .single__category,
    .base-post__date{
        font-size: (10rem / 16);
    }
}
@media only screen and (max-width: 992px) {
    .nav{
        margin: 0 45px;
        padding: 5px 110px;
    }
    .header__top{
        padding: 20px 30px 16px;
    }
    .home-wrap{
        padding: 40px 30px;
    }
    .base-post__date{
        font-size: (10rem / 16);
    }
    .single__img-wrap{
        padding-top: 35%;
    }
    .category-page{
        .top-posts{
            display: flex;
            padding-top: 30px;
    
            .base-post__link{
                &:first-child{
                    padding-right: 15px;
                }
                &:last-child{
                    padding-left: 15px;
                }
            }
        }
        .category_top{
            width: calc(50% - 15px);
            padding-top: 60px;
            margin-bottom: 0;
        }
    }
}
@media only screen and (max-width: 768px) {
    .menu{
        width: 100%;
        &__icon{
            display: none;
        }
        &__list{
            text-align: center;
        }
    }
}
@media only screen and (max-width: 767px) {
    .caption{
        &_top{
            padding-top: 60px;
            margin-bottom: 0;
        }
    }
    .footer__text{
        max-width: 250px;
    }
    .top-posts{
        display: flex;
        padding-top: 30px;

        .base-post__link{
            &:first-child{
                padding-right: 15px;
            }
            &:last-child{
                padding-left: 15px;
            }
        }
    }
    .recomend-wrap{
        padding: 0px;
    }
    .home-wrap,
    .footer{
        padding: 30px;
    }
    
    .recomend-post{
        &__img-wrap{
            padding-bottom: 46%;
        }
        &__caption{
            font-size: (14rem / 16);
        }
    }
    .single__img-wrap{
        padding-top: 50%;
        margin-top: 15px;
    }
    .single__panel{
        padding: 60px 30px;
    }
}
@media only screen and (max-width: 576px) {
    .header__title{
        font-size: (28rem / 16);
    }
    .category-page .top-posts,
    .top-posts{
        flex-direction: column;
        .base-post__link{
            &:first-child,
            &:last-child{
                padding: 0;
            }
        }
    }
    .category-page{
        .category_top{
            width: 100%;
        }
    }
    .recomend-post__img-wrap {
        padding-bottom: 56%;
    }
    .recomend-post__panel {
        padding: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .recomend-wrap{
        display: none;
    }
    .home-wrap{
        padding: 20px;
    }
    .nav{
        margin:0 35px;
    }
    .menu__icon{
        top: 73px;
        right: -25px;
    }
    .single__panel {
        padding: 40px 15px;
    }
    .single__img-wrap{
        padding-top: 65%;
    }
}

